# Node modules
node_modules/

# Build files
build/
dist/
*.log

# Environment variables
.env

# IDE / Editor specific files
.vscode/
.idea/

# Mac specific
.DS_Store

# Jest test result
coverage/

# Ignore TypeScript build artifacts
*.tsbuildinfo

# Ignore npm debugging logs
npm-debug.log*

# Ignore yarn errors file
.yarn/error.log

# Ignore local configuration
config.local.json