.text-dark-grey{
    color:rgb(22, 22, 22)
  }
  .text-grey{
    color:rgb(65, 65, 65)
  }
  .font-l{
    font-size: large;
  }
  .font-xl{
    font-size:x-large;
  }
  .font-xxl{
    font-size:xx-large;
  }
  
  .font-bold{
    font-weight: bold;
  }

  .font-100{
    font-weight: 100;
  }

  .text-center{
    text-align: center;
   
  }


pre{
  white-space: pre-wrap; /* Consente al testo di andare a capo */
  word-break: break-word; /* Assicura che le parole vadano a capo se necessario */
  overflow-wrap: break-word; /* Rompe la parola per evitare overflow */
  
}

